footer {
    background-color: $color-marron;
    padding: 0rem 0.5rem;
    font-size: 18px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    padding: 3rem 0 0 0;
    --mask: radial-gradient(36.15px at 50% 49.6px, #000 99%, #0000 101%) calc(50% - 62px) 0/124px 100%,
        radial-gradient(36.15px at 50% -18.6px, #0000 99%, #000 101%) 50% 31px/124px 100% repeat-x;
    -webkit-mask: var(--mask);
    mask: var(--mask);
    .divInformacion {
        margin: 0 0 0 0.5rem;
        h3 {
            color: $color-amarillo;
            margin: 0;
            text-decoration: none;
        }
        a {
            text-decoration: none;
            color: $color-amarillo;
        }
    }
    .divDirecciones {
        margin: 0 0.5rem 0 0;
        text-align: right;
        h3 {
            margin: 0;
            a {
                text-decoration: none;
                color: $color-amarillo;
            }
        }
        ul {
            list-style-type: none;
            margin: 0;
            text-align: right;
            li {
                a {
                    text-decoration: none;
                    color: $color-amarillo;
                }
            }
            .locales {
                text-align: left;
                list-style: url(../assets/img/barquillo_listStyle.svg);
                &:hover {
                    color: $color-amarillo;
                    text-align: left;
                    list-style: url(../assets/img/barquilloHover_listStyle.svg);
                }
            }
        }
    }
}
