.h1Sabores {
        margin: 2rem 0 3rem 1rem;
        -webkit-animation: heartbeat 1.5s 3s ease-in-out infinite both;
        animation: heartbeat 1.5s ease-in-out infinite both;
}
@-webkit-keyframes heartbeat {
        from {
                -webkit-transform: scale(1);
                transform: scale(1);
                -webkit-transform-origin: center center;
                transform-origin: center center;
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        }
        10% {
                -webkit-transform: scale(0.91);
                transform: scale(0.91);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        }
        17% {
                -webkit-transform: scale(0.98);
                transform: scale(0.98);
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        }
        33% {
                -webkit-transform: scale(0.87);
                transform: scale(0.87);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        }
        45% {
                -webkit-transform: scale(1);
                transform: scale(1);
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        }
}
@keyframes heartbeat {
        from {
                -webkit-transform: scale(1);
                transform: scale(1);
                -webkit-transform-origin: center center;
                transform-origin: center center;
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        }
        10% {
                -webkit-transform: scale(0.91);
                transform: scale(0.91);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        }
        17% {
                -webkit-transform: scale(0.98);
                transform: scale(0.98);
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        }
        33% {
                -webkit-transform: scale(0.87);
                transform: scale(0.87);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        }
        45% {
                -webkit-transform: scale(1);
                transform: scale(1);
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        }
}

.sabores {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;

        section {
                width: 16rem;
                height: 17rem;
                background-color: $color-marron;
                margin: 5% 1% 10% 1%;
                padding: 1%;
                /*11px*/
                --mask: radial-gradient(12.83px at 50% calc(100% - 17.6px), #000 99%, #0000 101%) calc(50% - 22px) 0/44px
                                100%,
                        radial-gradient(12.83px at 50% calc(100% + 6.6px), #0000 99%, #000 101%) 50% calc(100% - 11px) /
                                44px 100% repeat-x;
                -webkit-mask: var(--mask);
                mask: var(--mask);
                border-radius: 100px 100% 10% 10% / 40% 700px 50% 10%;
                /*UL SABORES-------*/
                .ul--sabores {
                        font-weight: 700;
                        padding: 0 0 1rem 0;
                        li:hover {
                                color: $color-amarillo;
                        }
                }

                transition: 0.5s;

                /*----Hover----*/
                &:hover {
                        h2 {
                                color: $color-amarillo;
                                text-decoration: underline;
                                text-decoration-style: wavy;
                        }
                }
        }
}

.h1Ycarousel {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 2rem ;
        .tamanio {
                margin: 0;
                width: 25%;
                height: auto;
        }
       
}
